.jumbotron
  div(ng-controller='DataController')
    h2 Here is commits distribution from constributors of the project : {{repoOwner}}/{{repoName}}.
    .row
      br
    .row
      .col-md-12
        canvas(id="doughnut",class="chart chart-doughnut", chart-data="data", chart-labels="labels", chart-legend="true")
