.jumbotron
  h1 Welcome to TWEB, 
  p This application uses AngularJS, ui-router, and bootstrap-template, it is issued from the following assignment: Développer une application AngularJS pour afficher du contenu obtenu via l'API GitHub