nav.navbar.navbar-default(ng-app='myApp',ng-controller='ActiveController')
  .container-fluid
    .navbar-header
       button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
         span.sr-only Toggle navigation
         span.icon-bar
         span.icon-bar
         span.icon-bar
       a.navbar-brand(href='/')= title
     #navbar.navbar-collapse.collapse
       ul.nav.navbar-nav
         li(ng-class="{active: isActive('/audience')}")
           a(href='/audience') Audience
         li(ng-class="{active: isActive('/board')}")
           a(href='/board') Board
         li(ng-class="{active: isActive('/debug')}")
           a(href='/debug') Debug
